# {{ ansible_managed }}

reverse lookup = no
use chroot = yes

[archlinux]
path = /home/mirror/archlinux
comment = Arch Linux mirror, tier 2

[centos]
path = /home/mirror/centos
comment = CentOS mirror
